* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    background-image: url('images/bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px black;
    color: azure;
    padding-top: 100px;
    letter-spacing: 3px;
}

#masodik{
    background-image: url('images/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 275px;   
}
.row {
}

.col {}

.feher {
    background-color: white;
}

.szurke {
    background-color: #808080;
}

.bal-kep {
    width: 50%;
    margin-top: 20%;
}

.jobb-kep {
    width: 300px;
    padding-bottom: 20%;
}